{% extends 'base.html.twig' %}
{% import 'macros.html.twig' as macros %}

{% block body %}

    <h1>{{ 'admin.gdpr.title'|trans }}</h1>

    <div class="rc-section">

        {{ form(search) }}

        <div class="mt-3">
            <a href="{{ path('admin_gdpr_history') }}" class="btn btn-outline-dark">
                <i class="fas fa-history mr-2"></i>{{ 'admin.gdpr.history.button'|trans }}
            </a>
        </div>

    </div>

{% endblock %}
