{% extends 'base.html.twig' %}
{% import 'macros.html.twig' as macros %}

{% block body %}

    <h1>{{ 'admin.gdpr.title'|trans }}</h1>

    <div class="rc-section">

        {{ form(search) }}

    </div>

{% endblock %}