{% extends '@PasswordLogin/base.html.twig' %}

{% block title %}{{ 'password_login.change_password.title'|trans }}{% endblock %}

{% block body %}

    <br/>

    <div class="row">

        <div class="col-md-12 jumbotron">

            <h3>{{ block('title') }}</h3>

            {{ form(changePassword) }}

        </div>

    </div>

{% endblock %}

