{% if classification.problems or classification.reachable %}
    <div class="classification-summary">
        <strong>{{ 'audience.classification.title'|trans }}</strong>

        {% for key, list in classification.toArray %}
            {% if list %}
                <span class="classification-item">
                    {{ ('audience.classification.' ~ (key|snake))|trans({'%nbr%': list|length})|raw }}
                </span>
            {% endif %}
        {% endfor %}

        {% if classification.problems %}
            <a href="#"
               class="btn btn-sm btn-secondary"
               id="open-problems">
                {{ 'audience.classification.problems'|trans }}
            </a>
        {% endif %}

        {% if classification.reachable or classification.excluded %}
            <a href="#"
               class="btn btn-sm btn-secondary"
               id="open-audience">
                {{ 'audience.classification.audience'|trans }}
            </a>
        {% endif %}
    </div>
{% endif %}

{% if classification.reachable or classification.excluded %}

    <script type="text/javascript">

        $(function () {
            $('.trigger-launch').prop('disabled', false);
        });

    </script>

{% else %}

    <script type="text/javascript">

        $(function () {
            $('.trigger-launch').prop('disabled', 'disabled');
        });

    </script>

{% endif %}
