{% import 'macros.html.twig' as macros %}

<div class="text-left">
    <p>{{ 'audience.pre_selection.remove_volunteer'|trans }}</p>
</div>

<hr/>

<div class="row text-left">

    {% for volunteer in volunteers %}
        <div class="col-md-6" id="preselection-volunteer-{{ volunteer.id }}">
            <div class="d-flex align-items-start gap-2 mb-2">
                <div>
                        <a href="#"
                           class="btn btn-small btn-secondary preselection-volunteer-toggle"
                           style="border: 1px solid red!important;"
                           data-id="{{ volunteer.id }}">
                            ❌
                        </a>
                </div>
                <div class="flex-grow-1">
                        {{ macros.volunteer(volunteer) }}
                </div>
            </div>
        </div>
    {% endfor %}

</div>