{% if preselection %}

    <div class="rc-section">

        <h4>
            {{ 'audience.pre_selection.title'|trans }}
        </h4>

        <p>{{ 'audience.pre_selection.description'|trans({'%nbr%': preselection.volunteers|length})|raw }}</p>

        <div>
            <a href="#"
               class="btn btn-sm btn-secondary"
               id="toggle-audience-form">
                {{ 'audience.pre_selection.use_standard_form'|trans }}
            </a>
        </div>

    </div>

{% endif %}
