###> symfony/framework-bundle ###
APP_ENV=prod
APP_SECRET='some secret'
###< symfony/framework-bundle ###

###> symfony/swiftmailer-bundle ###
MAILER_FROM=preprod@redcall.io
MAILER_URL='smtp://auto@redcall.io:password@mail.provider.com:465?encryption=ssl'
###< symfony/swiftmailer-bundle ###

###> doctrine/doctrine-bundle ###
DATABASE_HOST=localhost
DATABASE_URL=mysql://redcall_preprod:password@$DATABASE_HOST/redcall_preprod
###< doctrine/doctrine-bundle ###

###> google/recaptcha ###
GOOGLE_RECAPTCHA_SITE_KEY=key
GOOGLE_RECAPTCHA_SECRET=secret
###< google/recaptcha ###

###> google/apiclient ###
GOOGLE_API_KEY=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
###< google/apiclient ###

WEBSITE_URL=https://preprod.redcall.fr

MAPBOX_API_KEY=some key

PEGASS_LOGIN=yourlogin
PEGASS_PASSWORD=yourpassword

GCP_PROJECT_NAME=project-name
GCP_BASTION_INSTANCE=bastion

MINUTIS_JWT_PUBLIC_KEY_URL=

TWILIO_ACCOUNT_SID=xxx
TWILIO_AUTH_TOKEN=xxx
TWILIO_NUMBER=xxx
