###> symfony/framework-bundle ###
APP_ENV=prod
APP_SECRET='some secret'
###< symfony/framework-bundle ###

###> symfony/swiftmailer-bundle ###
MAILER_FROM=preprod@redcall.io
MAILER_NAME=Croix-Rouge
MAILER_URL='smtp://auto@redcall.io:password@mail.provider.com:465?encryption=ssl'
###< symfony/swiftmailer-bundle ###

###> doctrine/doctrine-bundle ###
DATABASE_HOST=localhost
DATABASE_URL=mysql://redcall_preprod:password@$DATABASE_HOST/redcall_preprod
###< doctrine/doctrine-bundle ###

###> google/recaptcha ###
GOOGLE_RECAPTCHA_SITE_KEY=key
GOOGLE_RECAPTCHA_SECRET=secret
###< google/recaptcha ###

###> google/apiclient ###
GOOGLE_API_KEY=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
###< google/apiclient ###

WEBSITE_URL=https://preprod.redcall.fr

MAPBOX_API_KEY=some key

GCP_PROJECT_NAME=project-name
GCP_BASTION_INSTANCE=bastion

TWILIO_ACCOUNT_SID=xxx
TWILIO_AUTH_TOKEN=xxx
TWILIO_NUMBER=xxx

SENDGRID_API_KEY=bla

# brand colors

BRAND='Croix-Rouge'
COLOR_RED='#e30613'
COLOR_DARKGREY='#003956'
COLOR_LIGHTGREY='#667385'
COLOR_COOLGREY='#eae7e1'
COLOR_OFFWHITE='#f5e7d3'
LOGO='croix_rouge_2.png'

# Slack monitoring

SLACK_TOKEN=''
SLACK_CHANNEL='#debugging'
SLACK_EMOJI=':ghost:'

# Red Cross specific

IS_REDCROSS=0

MINUTIS_JWT_PUBLIC_KEY_URL=xxx
MINUTIS_SUPPORT=support.minutis@croix-rouge.fr
MINUTIS_URL=xxx

PEGASS_LOGIN=yourlogin
PEGASS_PASSWORD=yourpassword

GAIA_URL='https://gaia.croix-rouge.fr/crf-benevoles/#contact/NIVOL/%nivol%'
