{% extends '@Chart/base.html.twig' %}

{% block body %}

    <div class="h3">{{ query ? query.name : '' }}</div>

    <div class="text-left">
        {% form_theme form '@Chart/query/edit_theme.html.twig' %}
        {{ form(form) }}
    </div>




    <br/><br/><br/>

    <div class="text-center">
        <a href="{{ path('chart_query_home') }}" class="btn btn-secondary">
            {{ 'chart.base.back'|trans }}
        </a>
    </div>

{% endblock %}
