{# Renders a Bundles\ApiBundle\Model\Documentation\EndpointCollectionDescription #}
{% set category = null %}

<div class="endpoint-collection">
    {% for endpoint in endpoint_collection.endpoints %}

        {% if category != endpoint.category %}
            <h2>{{ endpoint.category }}</h2>
            {% set category = endpoint.category %}
        {% else %}
            <hr/>
        {% endif %}

        {{ include('@Api/documentation/endpoint.html.twig', {
            token: token,
            endpoint: endpoint,
        }) }}

    {% endfor %}
</div>

