<div class="endpoint-collection">
    {% for endpoint in endpoint_collection.endpoints %}

        {% if not loop.first %}
            <hr/>
        {% endif %}

        {{ include('@Api/documentation/endpoint.html.twig', {
            token: token,
            endpoint: endpoint,
        }) }}

    {% endfor %}
</div>

