<div class="bg-white" style="border: 1px solid lightgrey; padding:8px;">
    <div class="float-right d-block" style="border:1px solid #aaaaaa; background-color:#eeeeee; padding:3px; color:#666666;">
        Example
    </div>
    <div style="padding-top:15px;">
        <pre><code>{{ example|json_prettify(false) }}</code></pre>
    </div>
</div>
