<?xml version="1.0" encoding="UTF-8"?>

<!-- https://phpunit.de/manual/current/en/appendixes.configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/6.1/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         bootstrap="tests/bootstrap.php"
>
    <php>
        <ini name="error_reporting" value="24575"/>
        <!--        <ini name="error_reporting" value="-1"/>-->
        <env name="KERNEL_CLASS" value="App\Kernel"/>
        <env name="APP_ENV" value="test"/>
        <env name="APP_DEBUG" value="1"/>
        <env name="APP_SECRET" value="s$cretf0rt3st"/>
        <env name="SHELL_VERBOSITY" value="-1"/>
        <env name="SYMFONY_DEPRECATIONS_HELPER" value="weak"/>
        <env name="TWILIO_ACCOUNT_SID" value="AC_MOCK"/>
        <env name="TWILIO_AUTH_TOKEN" value="MOCK_TOKEN"/>
        <!-- define your env variables for the test env here -->

        <!-- ###+ google/recaptcha ### -->
        <!-- To use Google Recaptcha, you must register a site on Recaptcha's admin panel: -->
        <!-- https://www.google.com/recaptcha/admin -->
        <env name="GOOGLE_RECAPTCHA_SITE_KEY" value=""/>
        <env name="GOOGLE_RECAPTCHA_SECRET" value=""/>
        <!-- ###- google/recaptcha ### -->
        <!-- ###+ google/apiclient ### -->
        <env name="GOOGLE_API_KEY" value=""/>
        <env name="GOOGLE_CLIENT_ID" value=""/>
        <env name="GOOGLE_CLIENT_SECRET" value=""/>
        <env name="GOOGLE_APPLICATION_CREDENTIALS" value=""/>
        <!-- ###- google/apiclient ### -->

        <env name="GOOGLE_SHEETS_VOLUNTEERS_ID" value=""/>

        <!-- ###+ symfony/mailer ### -->
        <!-- MAILER_DSN=smtp://localhost -->
        <!-- ###- symfony/mailer ### -->
    </php>

    <testsuites>
        <testsuite name="Project Test Suite">
            <directory>tests/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./src/</directory>
        </whitelist>
    </filter>

    <listeners>
        <listener class="Symfony\Bridge\PhpUnit\SymfonyTestsListener"/>
    </listeners>

    <extensions>
        <extension class="DAMA\DoctrineTestBundle\PHPUnit\PHPUnitExtension"/>
    </extensions>

</phpunit>
