services:

  Bundles\SandboxBundle\Manager\FakeSmsManager:
    arguments:
      - '@Bundles\SandboxBundle\Repository\FakeSmsRepository'

  Bundles\SandboxBundle\Manager\FakeCallManager:
    arguments:
      - '@Bundles\SandboxBundle\Repository\FakeCallRepository'

  Bundles\SandboxBundle\Manager\FakeEmailManager:
    arguments:
      - '@Bundles\SandboxBundle\Repository\FakeEmailRepository'

  Bundles\SandboxBundle\Manager\AnonymizeManager:
    arguments:
      - '@App\Manager\VolunteerManager'
      - '@Bundles\SettingsBundle\Manager\SettingManager'
      - '@Bundles\SandboxBundle\Manager\FakeSmsManager'
      - '@Bundles\SandboxBundle\Manager\FakeEmailManager'
      - '@kernel'

  Bundles\SandboxBundle\Manager\FixturesManager:
    arguments:
      - '@App\Manager\StructureManager'
      - '@App\Manager\VolunteerManager'
      - '@App\Manager\TagManager'
      - '@App\Manager\UserInformationManager'
      - '@Bundles\SandboxBundle\Manager\AnonymizeManager'
