services:

  Bundles\PasswordLoginBundle\Manager\CaptchaManager:
    arguments: ['@Bundles\PasswordLoginBundle\Repository\CaptchaRepository']

  Bundles\PasswordLoginBundle\Manager\EmailVerificationManager:
    arguments: ['@Bundles\PasswordLoginBundle\Repository\EmailVerificationRepository']

  Bundles\PasswordLoginBundle\Manager\PasswordRecoveryManager:
    arguments: ['@Bundles\PasswordLoginBundle\Repository\PasswordRecoveryRepository']

  Bundles\PasswordLoginBundle\Manager\UserManager:
    arguments: ['@Bundles\PasswordLoginBundle\Repository\UserRepositoryInterface']
