runtime: php72

vpc_access_connector:
  name: "projects/redcall-prod-260921/locations/europe-west1/connectors/gae-serverless-conn-prod"

readiness_check:
  app_start_timeout_sec: 3600

runtime_config:
  document_root: public
  front_controller_file: public/index.php
  enable_stackdriver_integration: true

env_variables:

handlers:
  - url: /build
    secure: always
    static_dir: public/build
  - url: /bundles
    secure: always
    static_dir: public/bundles
  - url: /(.*\.(ico|txt|gif|png|jpg))$
    secure: always
    static_files: public/\1
    upload: public/.*\.(ico|txt|gif|png|jpg)$
  - url: /.*
    secure: always
    script: auto
    redirect_http_response_code: 301

instance_class: F4

automatic_scaling:
  max_concurrent_requests: 50
