# Should contain the database URL from your local computer (host will most probably contain your db ip address)
DATABASE_NAME=redcall_prod
DATABASE_HOST=localhost
DATABASE_PORT=3306
DATABASE_USER=redcall_prod
DATABASE_PASSWORD=password
