###> symfony/framework-bundle ###
APP_ENV=prod
APP_SECRET='some secret'
###< symfony/framework-bundle ###

###> symfony/swiftmailer-bundle ###
MAILER_FROM=contact@redcall.io
MAILER_NAME=Croix-Rouge
MAILER_URL='smtp://auto@redcall.io:password@mail.provider.com:465?encryption=ssl'
###< symfony/swiftmailer-bundle ###

###> doctrine/doctrine-bundle ###
DATABASE_HOST=localhost
DATABASE_URL=mysql://redcall_prod:password@$DATABASE_HOST/redcall_prod?unix_socket=/path/to/socket
###< doctrine/doctrine-bundle ###

###> google/recaptcha ###
GOOGLE_RECAPTCHA_SITE_KEY=key
GOOGLE_RECAPTCHA_SECRET=secret
###< google/recaptcha ###

###> google/apiclient ###
GOOGLE_API_KEY=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
###< google/apiclient ###

WEBSITE_URL=https://redcall.fr

MAPBOX_API_KEY=some key

PEGASS_LOGIN=yourlogin
PEGASS_PASSWORD=yourpassword

GAIA_URL='https://gaia.croix-rouge.fr/crf-benevoles/#contact/NIVOL/%nivol%'

GCP_PROJECT_NAME=redcall
GCP_BASTION_INSTANCE=bastion

MINUTIS_JWT_PUBLIC_KEY_URL=xxx
MINUTIS_SUPPORT=support.minutis@croix-rouge.fr
MINUTIS_URL=xxx

TWILIO_ACCOUNT_SID=xxx
TWILIO_AUTH_TOKEN=xxx
TWILIO_NUMBER=xxx

SENDGRID_API_KEY=bla
