{% for color, form in forms %}

    <div id="pfa-selector-{{ color }}" style="margin-bottom: 5px;" class="pfa-selector {% if color != current_color %}d-none{% endif %}">
        {{ form_widget(form) }}
    </div>

{% endfor %}

<script type="text/javascript">

    var answerSets = {{ answers|json_encode|raw }};

    {# When clicking on a color, changing the answers selector #}
    $('.answer-color').change(function () {
        var color = $(this).val();
        $('.pfa-selector').addClass('d-none');
        $('#pfa-selector-' + color).removeClass('d-none');
    });

    function updateAnswers(that) {
        var answerSet = answerSets[that.val()];
        if (undefined === answerSet) {
            return;
        }

        {# Clearing up the collection #}
        $('#answer-collection').find('.remove-answer').click();

        {# Creating the fields #}
        for (var i = 0; i < answerSet.length; i++) {
            $('#add-answer').click();
        }

        {# Filling the fields #}
        $('#answer-collection .answer-input').each(function (key) {
            $(this).val(answerSet[key]);
        });
    }

    {# When choosing an answer group in an answers selector, update answers #}
    $('.pfa-selector select').change(function () {
        updateAnswers($(this));
    });
    setTimeout(function () {
        updateAnswers($('.pfa-selector select'));
    }, 0);

</script>
