{% set rand = random(8) %}
<style>
    .ql-editor.ql-blank {
        min-height:300px;
    }
    #quill-{{ rand }} p {
        color: black !important;
    }
</style>
<div id="quill-{{ rand }}">
    <div id="{{ toolbar }}">
    <span class="ql-formats">
      <select class="ql-font"></select>
      <select class="ql-size">
          <option value="10px">Small</option>
          <option selected>Normal</option>
          <option value="18px">Large</option>
          <option value="32px">Huge</option>
      </select>
    </span>
    <span class="ql-formats">
      <button class="ql-bold"></button>
      <button class="ql-italic"></button>
      <button class="ql-underline"></button>
      <button class="ql-strike"></button>
    </span>
    <span class="ql-formats">
      <select class="ql-color"></select>
      <select class="ql-background"></select>
    </span>
    <span class="ql-formats">
      <button class="ql-link"></button>
      <button class="ql-blockquote"></button>
      <button class="ql-code-block"></button>
    </span>
    <span class="ql-formats">
      <button class="ql-list" value="ordered"></button>
      <button class="ql-list" value="bullet"></button>
      <button class="ql-indent" value="-1"></button>
      <button class="ql-indent" value="+1"></button>
    </span>
        <span class="ql-formats">
      <select class="ql-align"></select>
    </span>
    </div>
    <div style="min-height:300px;" id="{{ editor }}"></div>
</div>
