{% extends 'base.html.twig' %}

{% block header %}{% endblock %}
{% block footer %}{% endblock %}

{% block body %}

    <br/>

    {% if campaign.active %}

        {% block content %}{% endblock %}

    {% else %}
        {# ------------------------------------------------------ #}
        {# Campaign is inactive: display an error message #}
        {# ------------------------------------------------------ #}

        <div class="h3">{{ 'campaign.errors.inactive'|trans }}</div>

        <hr/><br/>

    {% endif %}

{% endblock %}
