{% extends 'base.html.twig' %}

{% block header %}{% endblock %}
{% block footer %}{% endblock %}

{% block body %}

    {% if campaign.active %}

        {% block content %}{% endblock %}

    {% else %}
        {# ------------------------------------------------------ #}
        {# Campaign is inactive: display an error message #}
        {# ------------------------------------------------------ #}

        <h3>{{ 'campaign.errors.inactive'|trans }}</h3>

        <hr/><br/>

    {% endif %}

{% endblock %}
