{% extends 'base.html.twig' %}

{% block body %}

    <div class="jumbotron shadow p-3 mb-5 rounded text-center">

        {{ block('body', '@!Chart/query/edit.html.twig') }}

    </div>

{% endblock %}
