security:

  encoders:
    App\Entity\User:
      algorithm: bcrypt

  providers:
    user_provider:
      entity:
        class: App\Entity\User
        property: username

  firewalls:
    dev:
      pattern: ^/(_(profiler|wdt)|css|images|js)/
      security: false

    api:
      pattern: '^/api'
      provider: user_provider
      stateless: true
      anonymous: false
      logout: ~
      guard:
        authenticators:
          - Bundles\ApiBundle\Security\Authenticator\ApiAuthenticator

    main:
      pattern: '^/'
      provider: user_provider
      anonymous: ~
      logout:
        path: /logout
        target: /
        csrf_token_generator: security.csrf.token_manager
      guard:
        authenticators:
          - App\Security\Authenticator\MinutisAuthenticator
          - Bundles\PasswordLoginBundle\Security\Authenticator\FormLoginAuthenticator
        entry_point: App\Security\Authenticator\MinutisAuthenticator

  access_control:

    # Technical
    - { path: '^/_ah', role: 'IS_AUTHENTICATED_ANONYMOUSLY' }
    - { path: '^/cron', role: 'IS_AUTHENTICATED_ANONYMOUSLY' }
    - { path: '^/task', role: 'IS_AUTHENTICATED_ANONYMOUSLY' }
    - { path: '^/deploy', role: 'IS_AUTHENTICATED_ANONYMOUSLY' }

    # Minutis authentication
    - { path: '^/auth$', role: 'IS_AUTHENTICATED_ANONYMOUSLY' }

    # Volunteer space
    - { path: '^/space', role: 'IS_AUTHENTICATED_ANONYMOUSLY' }

    # Webhooks (sms response received)
    - { path: '^/twilio', role: 'IS_AUTHENTICATED_ANONYMOUSLY' }

    # Medias (generated voice calls)
    - { path: '^/media', role: 'IS_AUTHENTICATED_ANONYMOUSLY' }

    # Unauthenticated identity management
    - { path: '^/connect', role: 'IS_AUTHENTICATED_ANONYMOUSLY' }
    - { path: '^/register', role: 'IS_AUTHENTICATED_ANONYMOUSLY' }
    - { path: '^/forgot-password', role: 'IS_AUTHENTICATED_ANONYMOUSLY' }
    - { path: '^/change-password', role: 'IS_AUTHENTICATED_ANONYMOUSLY' }
    - { path: '^/verify-email', role: 'IS_AUTHENTICATED_ANONYMOUSLY' }
    - { path: '^/locale', role: 'IS_AUTHENTICATED_ANONYMOUSLY' }

    # Links contained in SMS should be publicly available
    - { path: '^/msg', role: 'IS_AUTHENTICATED_ANONYMOUSLY' }
    - { path: '^/geo', role: 'IS_AUTHENTICATED_ANONYMOUSLY' }

    # We allow non activated users to reach a few pages
    - { path: '^/logout', role: 'ROLE_USER' }
    - { path: '^/profile', role: 'ROLE_USER' }
    - { path: '^/guest', role: 'ROLE_USER' }
    - { path: '^/$', roles: [ 'ROLE_USER' ] }

    # Website administration
    - { path: '^/admin', roles: [ 'ROLE_ADMIN' ] }
    - { path: '^/developer', roles: [ 'ROLE_DEVELOPER' ] }

    # Google Cloud Tasks
    - { path: '^/cloud-task$', role: 'IS_AUTHENTICATED_ANONYMOUSLY' }

    # Requires an activated account for other pages
    - { path: '^/', roles: [ 'ROLE_TRUSTED' ] }
