{% extends 'base.html.twig' %}

{% block body %}

    <h1>{{ structure.name }}</h1>
    <h3 class="color-grey">{{ entity.updatedAt|date('d/m/Y H:i') }}</h3>

    <div class="jumbotron shadow p-3 mb-5 rounded">
        <pre><code>{{ pegass|nl2br }}</code></pre>
    </div>

{% endblock %}