{% import 'macros.html.twig' as macros %}

<div class="row text-left">
    {% for user in users %}
        {% set user_volunteer = volunteer_of(user) %}
        {% if user_volunteer %}
            <div class="col-md-6">
                {{ macros.volunteer(user_volunteer) }}
                <hr/>
            </div>
        {% endif %}
    {% endfor %}
</div>
