
<div id="submit-button-audience" class="d-none">
    {{ 'form.communication.fields.submit_to'|trans({'%type%': ('form.communication.' ~ type)|trans}) }}
</div>

<div id="submit-button-reset" class="d-none">
    {{ 'form.communication.fields.submit'|trans }}
</div>

<script type="text/javascript">

    {# Update message size automatically #}
    function updateMessageSize() {
        var textArea = $('#{{ form.message.vars.id }}');
        if (textArea.val().length > $('#message-max').html()) {
            textArea.val(
                textArea.val().substr(0, $('#message-max').html())
            );
        }
        $('#message-size').html(textArea.val().length);
    }

    $('#{{ form.message.vars.id }}').keyup(updateMessageSize);

    {# Disables "enter" key on input fields #}
    $('form').keypress(function (e) {
        if (e.keyCode == 13 && $(e.target).not('textarea, button').length) {
            e.preventDefault();
        }
    });

    {# Disable submit button at submission to prevent sending communication twice #}
    $('#form-container').removeClass('d-none');
    $('#spinner-container').addClass('d-none');
    $('form').submit(function () {
        $('#form-container').addClass('d-none');
        $('#spinner-container').removeClass('d-none');
    });

</script>