<div id="spinner-container" class="d-none">
    <div class="jumbotron shadow p-3 mb-5 rounded text-center">
        <div class="h2">{{ 'base.wait'|trans }}</div>
        <img src="{{ asset('spinner-redcall.gif') }}"/>
    </div>
</div>

<script type="text/javascript">

    $(function () {
        $('.trigger-launch').click(function () {
            {# It's a click on "Send to XX volunteers" button #}
            $('#form-container').addClass('d-none');
            $('#spinner-container').removeClass('d-none');
        });
    });

</script>

