{% extends '@Api/base.html.twig' %}

{% block body %}

    {{ include('@Api/documentation/endpoint.html.twig', {
        token: token,
        endpoint: endpoint,
    }) }}

    <br/>

    <div class="text-center">
        <a href="{{ path('developer_token_documentation', {token: token}) }}" class="btn btn-secondary">Back</a>
    </div>

    </div>

{% endblock %}

