<div class="text-left">
    <ul>
        {% for structure in user.structures %}
            {% if app.user.platform == structure.platform %}
                <li>{{ structure.name }}</li>
            {% endif %}
        {% endfor %}
    </ul>
</div>
