{% macro pager(pager, prefix = '', queryParams = {}) %}
    {% if pager.nbResults > pager.maxPerPage %}

        <div class="row">
            <div class="col-md-12 text-center">
                {{ pager.nbResults }} {{ 'pagination.result' | transchoice(pager.nbResults) }}
            </div>
            <div class="col-md-12 d-flex">

                {{ pagerfanta(pager, 'bootstrap_light', {
                    'pageParameter': '[' ~ prefix ~ 'page]',
                    'routeName': master_request().get('_route'),
                    'routeParams': master_request().query.all|merge(queryParams),
                    'proximity': 2,
                }) }}

            </div>
        </div>
    {% endif %}
{% endmacro %}
