{% if is_granted('ROLE_ADMIN') and communication.raw %}
    <br/>
    <div class="debug text-center" data-target="debug-{{ communication.id }}">🔧</div>
    <div id="debug-{{ communication.id }}" class="d-none">
        <pre>{{ communication.raw }}</pre>
    </div>
    <br/>
{% endif %}
