{% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}
{{ form_start(form) }}
{{ form_widget(form.platform, {
    attr: {
        onchange: 'this.form.submit();',
    }
}) }}
<div class="d-none">
    {{ form_widget(form.submit) }}
</div>
{{ form_end(form) }}