{% extends 'base.html.twig' %}

{% block header %}{% endblock %}
{% block footer %}{% endblock %}

{% block body %}

    <div class="text-right h4">
        <span class="badge-pill badge-dark">
            {{ message.volunteer.firstName }}
            {{ message.volunteer.lastName[:1] }}.
        </span>
    </div>

    {% if message.communication.campaign.active %}

        {% block content %}{% endblock %}

    {% else %}
        {# ------------------------------------------------------ #}
        {# Campaign is inactive: display an error message #}
        {# ------------------------------------------------------ #}

        <h3>{{ 'campaign.errors.inactive'|trans }}</h3>

        <hr/>

    {% endif %}

{% endblock %}
