{% extends 'base.html.twig' %}
{% import 'macros.html.twig' as macros %}
{% import 'status_communication/macros.html.twig' as specificMacros %}

{% block body %}
    {% include 'status_communication/partials/campaign_header.html.twig' %}

    <div class="row justify-content-md-center">

        {% include 'status_communication/partials/tabs.html.twig' %}

        <div class="tab-content col-12" id="all-tabs">

            {% for key, communication in campaign.communications %}
                {% include 'status_communication/partials/communication_item.html.twig' %}
            {% endfor %}

        </div>

    </div>

{% endblock %}

{% block modals %}
    {% include 'status_communication/partials/modals.html.twig' %}
{% endblock %}

{% block javascripts %}
    {% include 'status_communication/partials/scripts.html.twig' %}
{% endblock %}
