{% extends 'base.html.twig' %}

{% import 'macros.html.twig' as macros %}

{% block body %}

    <h1>
        {{ 'manage_volunteers.form.create'|trans }}
    </h1>

    {{ form(form) }}

{% endblock %}