{% extends 'base.html.twig' %}

{% import 'macros.html.twig' as macros %}

{% block body %}

    <h1>
        {% if isCreate %}
            {{ 'manage_volunteers.form.create'|trans }}
        {% else %}
            {{ 'manage_volunteers.form.update'|trans }}
        {% endif %}
    </h1>

    {{ form(form) }}

{% endblock %}