[mysqld]
max_allowed_packet = 64M
skip-name-resolve
long_query_time = 5
slow_query_log = 1
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci
sql-mode = "NO_ENGINE_SUBSTITUTION"
innodb_use_native_aio = 0
mysqlx = 0
max_connections = 100

[mysqldump]
quick
quote-names
max_allowed_packet = 64M
