{% extends 'base.html.twig' %}

{% block body %}

    <div class="jumbotron text-center">

        <a href="{{ path('developer_token_index') }}"
           class="text-lg-center large-button btn btn-secondary">Manage your access tokens</a>

        <br/><br/>


        <br/><br/><br/>

        <a href="{{ path('home') }}"
           class="btn btn-secondary">{{ 'base.button.back'|trans }}</a>

    </div>

{% endblock %}