{% extends 'base.html.twig' %}

{% block body %}
    <br/>

    <div class="jumbotron text-center">

        {{ block('body', '@!Chart/home/index.html.twig') }}

        <br/><br/><br/>

        <a href="{{ path('admin_home') }}" class="btn btn-secondary">
            {{ 'base.button.back'|trans }}
        </a>

    </div>

{% endblock %}
