{% extends 'base.html.twig' %}

{% block body %}

    {{ parent() }}

    <br/>

    <div class="jumbotron text-center">

        {{ block('body', '@!Api/token/documentation.html.twig') }}

    </div>

{% endblock %}

{% block javascripts %}

    {{ parent() }}

    {{ block('javascripts', '@!Api/token/documentation.html.twig') }}

{% endblock %}
