{% extends 'base.html.twig' %}

{% block body %}

    {{ parent() }}

    <br/>

    <div class="jumbotron text-center">

        {{ block('body', '@!Api/token/endpoint.html.twig') }}

    </div>

{% endblock %}
