{% extends 'base.html.twig' %}

{% block body %}

    <br/>

    <div class="jumbotron shadow p-3 mb-5 rounded text-center">

        {{ block('body', '@!Api/token/index.html.twig') }}

        <br/><br/><br/>

        <a href="{{ path('developer_home') }}" class="btn btn-secondary">Back</a>

    </div>

{% endblock %}
