{% extends '@PasswordLogin/base.html.twig' %}

{% block body %}

    <br/>

    <div class="jumbotron text-center">

        <h1>{{ 'password_login.error.invalid_csrf.title'|trans }}</h1>
        <h2>{{ 'password_login.error.invalid_csrf.body'|trans }}</h2>

        <br/><br/>

        <a href="{{ path('home') }}"
           class="btn btn-secondary">{{ 'base.button.back'|trans }}</a>
    </div>

{% endblock %}
